input {
  border: 1px solid white;
  outline: none;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-push {
  min-height: calc(100vh - 250px);
}

@media screen and (max-width: 767px) {
  _::-webkit-full-page-media, _:future, :root .footer-push {
    min-height: calc(100vh - 350px);
  }
}